:root {
  --color-a: #1a1a1a;
  --color-b: #525252;
  --color-c: #9e9e9e;
  --color-d: #ededed;
  --black: #000000;
  --red: #db0000;
  --green: #5bdb00;
  --yellow: #f3a200;
  --overlay: #000000d5;

  --gap: 10px;

  --speed: 0.5s;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-b);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

* {
  padding: 0;
  margin: 0;
  font-family: system-ui, Roboto, Ubuntu, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

html,
body {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--color-b);
  flex-direction: column;
  row-gap: var(--gap);
  background-color: var(--color-a);
}

body {
  justify-content: center;
  align-items: stretch;
  max-width: 800px;
  overflow: auto;
}

canvas {
  background-color: transparent;
  background-image: url("resources/images/gizmo_logo_simple.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  image-rendering: pixelated;
  transition: background-color var(--speed) ease-out;
}

button {
  border: none;
  color: var(--color-a);
  text-align: center;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  flex: 1;
  font-weight: bold;
  letter-spacing: 1px;
}

button:active {
  scale: 0.94;
}

#hud {
  display: grid;
  grid-template-areas:
    'scene meminfo'
    'counter rendermode';
  grid-template-columns: auto 50%;
  grid-template-rows: 32px 96px;
  align-items: flex-end;
  gap: var(--gap);
  transition: opacity var(--speed) ease-in-out;
}

#mem-info {
  display: block;
  grid-area: meminfo;
  color: var(--color-d);
  justify-self: flex-end;
  align-self: center;
  opacity: 0.5;
}

#counters {
  grid-area: counter;
  max-width: 192px;
  display: flex;
  flex: 1;
  flex-direction: column;
}


#hud label {
  display: flex;
  padding: 5px 0;
  font-weight: bold;
  color: var(--color-d);
  justify-content: space-between;
}

#scene {
  grid-area: scene;
  justify-content: flex-start !important;
  align-items: center;
  gap: var(--gap);
}

#scene span {
  color: var(--yellow) !important;
  text-transform: uppercase;
  font-weight: bold !important;
  font-size: 24px;
}

#scene span.sub {
  color: var(--color-c) !important;
  text-transform: capitalize;
  font-style: italic;
  font-weight: normal !important;
  font-size: 14px;
}

#hud label span {
  font-weight: normal;
  color: var(--color-d);
}

#render-modes {
  grid-area: rendermode;
  display: flex;
  justify-content: flex-end;
  gap: var(--gap);
}

#render-modes button {
  max-width: 64px;
  max-height: 64px;
}

#canvas-container {
  display: flex;
  position: relative;
  aspect-ratio: auto;
}

#controls {
  display: grid;
  grid-template-areas:
    'filters freqs'
    'actions tracks';
  grid-template-columns: 200px auto;
  gap: var(--gap);
  transition: opacity var(--speed) ease-in-out;
}

#controls button {
  max-width: 64px;
  max-height: 64px;
}

#actions {
  grid-area: actions;
  display: flex;
  gap: var(--gap);
  justify-content: flex-start;
  flex-wrap: wrap;
  transition: opacity var(--speed) ease-in-out;
}

#freqs {
  grid-area: freqs;
  display: flex;
  justify-self: stretch;
}

#tracks {
  grid-area: tracks;
  display: flex;
  flex: 1;
}

#tracks button {
  color: white;
  max-width: none;
  max-height: none;
}

#console {
  position: relative;
  max-height: 32px;
  flex: 1;
  align-self: stretch;
  background-color: var(--black);
  display: block;
  overflow: hidden;
}


#logs {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  padding-top: 10px;
  bottom: 5px;
  right: 0;
  left: 0;
  justify-content: stretch;
  max-height: 400px;

  overflow-y: hidden;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  background-color: var(--overlay);
}

#logs span {
  color: var(--color-d);
  padding: 5px;
  flex: 1;
  font-size: 13px;
  font-family: "Lucida Console", "Courier New", monospace;
}

#filters {
  grid-area: filters;
  display: flex;
  gap: var(--gap);
  justify-content: flex-start;
  flex-wrap: wrap;
  transition: opacity var(--speed) ease-in-out;
}

#filters button {
  color: whitesmoke;
  max-width: none;
  max-height: none;
}

button.toggled {
  border: 2px solid var(--yellow);
}

#playpause.toggled-red {
  background-color: var(--red);
  color: var(--color-d);
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

@media (max-width: 800px) {
  :root {
    --gap: 10px;
  }

  body {
    justify-content: space-around;
  }

  #hud {
    padding: 0 var(--gap);
    grid-template-areas:
      'scene scene'
      'counter rendermode';
  }

  #mem-info {
    display: none;
  }

  #counters {
    max-width: 92px;
  }

  #controls {
    justify-content: space-around;
  }

  button.toggled {
    border: 1px solid var(--yellow);
  }

  #controls button,
  #render-modes button {
    max-width: 52px;
    max-height: 52px;
  }
}